


.open-sans-normal {
  font-family: "Open Sans", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
/* bg-color */
.bg-color{
  background-color:#FFF8F3;
}
/* .s-bg-color{
  width: 1140px;
  height: 587px;
  background-color:#FFF8F3;

} */
.text-primary{
  color: #FD6E0A;
}
/* .header */
.header{
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
  
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
.dark-2{
  color:#474747;

}
nav ul{
  display: flex;
  align-items: center;

}
nav ul li{
list-style: none;
margin-right: 51px;
}
nav li a{
 text-decoration: none;
 font-size: 20px;
}
.btn-primary{
background-color: #FD6E0A;
font-weight:bold ;
color: white;
padding: 18px 35px;
border-radius: 5px;
border: none;
}
/* div */
/* banne rstyle */
.banner-greetings{
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
font-size: 85px;
font-weight: 700;
}
.banner-description{
  font-size: 18px;
  font-weight: 400;
}
.banner{
  display :flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content{
  max-width: 580px;
  
}
/* main style*/
.main{
  max-width: 1140px;
  margin: 0 auto;
}
/* about style */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 150px;
}
.section-title{
font-size: 35px;
font-weight: bold;
color: #181818;
}
.section-description{
  font-size: 18px;
  color: #757575;
}
/* about-items */
.about-items{
  display: flex;
  justify-content: space-around;
}
.item-title{
  font-size: 20px;
  color: #757575;
  /* font-weight: 400; */
}
.item-description{
  font-size: 20px;
  color: #474747;
  font-weight: bold;
}
/* skills-style */

.skills-section-title{
  /* padding: 130px 150px; */
  margin-top: 70px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #181818;
  }
  .skills-section-description{
    margin: 30px 115px ;
    font-size: 18px;
    text-align: center;
    color: #757575;
  }
  .skills-container{
    display: flex;
    gap: 24px;
  }
  .skill{
    width: 265px;
    height: 260px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
    padding: 30px;

  }
  .skill-title{

    font-size: 20px;
    font-weight: bold;
  }
  .skill-description{
   
    font-size: 16px;
    font-weight: 400;
    color:#757575;
  }